@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}

h2 span {
  font-size: 30px;
}

p {
  font-size: 20px;
}



.maincontainer > div {
  cursor: pointer;
  height: 210px;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: all 0.5s ease-in;
}

.maincontainer > div:hover {
  opacity: 0.7;
  transform: scale(0.98);
}

.maincontainer > div:nth-of-type(1) {
  grid-column: 1 / 3;
}

.maincontainer > div:nth-of-type(6) {
  grid-column: 3 / 5;
}

.maincontainer > div:nth-of-type(9) {
  grid-column: 3 / 5;
}

.maincontainer > div:nth-of-type(10) {
  grid-column: 1 / 3;
}

.bg1 {
  background: url("https://i.ibb.co/st83YDp/jazmin-quaynor-RIQmx5x5sq-I-unsplash.jpg");
}

.bg > p{
  color: red;
}

.threeD { /* From http://markdotto.com/2011/01/05/3d-text-using-just-css/ */
  font-size: 30px;
  color: #f1ebe5;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.bg2 {
  background: url("https://i.ibb.co/Fb5jb3J/bg2.jpg");
  color: #333;
}

@media screen and (min-width: 768px) {
    .maincontainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
      }
}
